
html {
  background-color: #b8b8b8;
}

body {
  margin: 0 100;
}

header {
  height: 75px;
}

header h1 {
  font-family: 'Yellowtail', cursive;
  font-size:     34px;
  line-height:   70%;
  margin-bottom: 2px;
  margin-top:    5px;
}

main {
  clear: both;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: ridge;
  border-color: gray;
  border-bottom-width: 15px;
  border-top-width: 15px;
  padding-bottom: 20px;
}

main > section > p {
  color: gray;
  margin-top: 0px;
  margin-bottom: 15px;
}

main > img {
  display: block;
  clear: both;
  width: 100%;
  height: auto;
}

.recipeInstructions p {
  text-indent: 2em;
  font-family: 'Droid Serif', serif;
  font-size: 20;
  color: #707070;
  margin-bottom: 1em;
  margin-top: 1em;
}

.ingredientsList {
  background-image: url('challenge/list-bg.png');
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 25px;
}

.ingredientsList ul {
  list-style: none;
}

.ingredientsList ul section {
  width: 45%;
  display: inline-block;
  margin-left: 10px;
}

.ingredientsList li {
  font-family: Verdana Narrow;
  font-size: 20;
  color: #996600;
  padding-top: 6px;
  padding-bottom: 6px;
}

footer {
  margin-top: 15px;
}

.footerTextSection {
  margin-left: 5px;
}

.footerTextSection h1 {
  font-size: 22;
}

.shareRecipe {
  font-family: 'Arial Narrow';
  color: white;
  background-color: #990000;
  float: right;
  padding :15px 25px 15px 25px;
}

.endOfPage {
  clear: both;
}

.endOfPage img {
  margin-left: 48%;
  margin-right: auto;
}

.endOfPage p {
  text-align: center;
}
