/* Reset code, taken from:

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)


   fonts used: yellowtail, Abel, Droid serif
*/



html, body, div, span, object, h1, p, blockquote, pre, a, em, img, strong, dl, dt, dd, ol, ul, li,  label, tr, th, td, article, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/* end Reset code */



html {
  background-color: #b8b8b8;
}

.bodyContainer {
  background-color: white;
  margin: 20 100;
}

body {
  margin: 0 100;
  background-color: white;
}

header {
  margin-bottom: 15px;
}

header img {
  float: left;
}

.headerTextSection h1 {
  font-family: 'Yellowtail', cursive;
  font-size:     34px;
  line-height:   70%;
  margin-bottom: 2px;
  margin-top:    5px;
}

.headerTextSection p {
  font-family: 'Abel', sans-serif;
  margin-top:     0em;
  margin-bottom:  0em;
  font-size:      12;
}

.headerTextSection {
  float:left;
}

.header-rss-mailSection {
  float: right;
  margin-left: 10px;
}

.headerSocialMediaSection {
  float: right;
}

main {
  clear: both;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: ridge;
  border-color: gray;
  border-bottom-width: 15px;
  border-top-width: 15px;
  padding-bottom: 20px;
}

main h1 {
  font-size: 46px;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 0px;
}

.mainSubHeader p {
  float: left;
  color: gray;
  font-size: 12;
  margin-top: 0px;
}

.rightAlignedMainSubHeader {
  float: right;
}

main > img {
  display: block;
  clear: both;
  width: 100%;
  height: auto;
}

.recipeInstructions p {
  text-indent: 2em;
  font-family: 'Droid Serif', serif;
  font-size: 24;
  color: #707070;
  margin-bottom: 1em;
  margin-top: 1em;
}

.ingredientsList {
  background-image: url('challenge/list-bg.png');
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 25px;
}

.ingredientsList ul {
  list-style: none;
}

.ingredientsList ul section {
  width: 45%;
  display: inline-block;
  margin-left: 10px;
}

.secondIngredientsSection {
  float: right;
}

.ingredientsList li {
  font-family: Verdana Narrow;
  font-size: 20;
  color: #996600;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type='checkbox'] {

}

.checked {
  text-decoration: line-through;
}

footer {
  margin-top: 15px;
}

footer > img {
  float: left;
}

.shareRecipe {
  font-family: 'Arial Narrow';
  color: white;
  background-color: #990000;
  float: right;
  padding :15px 25px 15px 25px;
}

.endOfPage {
  clear: both;
}

.endOfPage img {
  margin-left: 48%;
  margin-right: auto;
}

.endOfPage p {
  text-align: center;
  font-size: 12;
  color: gray;
}
